<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>my.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MirrorServlet</servlet-name>
    <servlet-class>my.MirrorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>my.ControllerServlet</servlet-class>
    <init-param>
            <param-name>handler</param-name>
            <param-value>my.handler.Cmd</param-value>
        </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MirrorServlet</servlet-name>
    <url-pattern>/mirror/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>*.cmd</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>
